<nav class="navbar navbar-expand-lg bg-light  mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">SystemERP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div #navbarCollapse class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active" (click)="closeMenu()">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/categorias" routerLinkActive="active" (click)="closeMenu()">Categorias</a>
                </li>
            </ul>
        </div>
    </div>
</nav>